body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#alarms {
	margin: 30px 0 0 0;
}
.alarmrow, .row-fluid{
	border-bottom:thin solid #E1E1E1;
	padding: 5px 0 0 0;
}

.alarminput {
	width: 500px;
	text-align: center;
}
#alarmdisplay {
	line-height: 47px;
	font-size: 55px;
	font-weight: bold;
}
.numpad {
	width: 100%;
	float: left;
	margin: 5px 0 5px 0;
}
.padbutton, .lowerbutton {
	width: 32%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 47px;
	font-size: 55px;
	font-weight: bold;
	cursor: pointer;
}
.padbutton:hover, .lowerbutton:hover {
	/*background-color: #DBDBDB;*/
	-moz-box-shadow:    inset 0px 1px 2px 2px #ccc;
	-webkit-box-shadow: inset 0px 1px 2px 2px #ccc;
	box-shadow:         inset 0px 1px 2px 2px #ccc;
}
.daypad {
	width:100%;
}
.disable, .disable:hover {
	color: #F0F0F0;
	cursor: default;
	-moz-box-shadow:    inset 0px 0px 0px 0px #FFF;
	-webkit-box-shadow: inset 0px 0px 0px 0px #FFF;
	box-shadow:         inset 0px 0px 0px 0px #FFF;
}

/* ---------------------------------- Button Interface Styles  ---------------------------------- */
.controlpannel {
	/*border: thin solid #23b7ff;*/
}
.link {
	cursor: pointer;
}

/* ---------------------------------- Lightbox Styles  ---------------------------------- */
#lightbox {
	background:#333;
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	float:left;
	opacity: 0.5;
}
#lightboxcore {
	background:#FFF;
	z-index:1001;
	border:thick solid #009;
	padding:10px;
	position:absolute;
	
	border-radius: 15px;
}