a {
  color: #00B7FF;
}

div#alarms {
	margin: 30px 0 0 0;
}
.alarmrow, .row-fluid{
	border-bottom:thin solid #E1E1E1;
	padding: 5px 0 0 0;
}

.alarminput {
	width: 500px;
	text-align: center;
}
#alarmdisplay {
	line-height: 47px;
	font-size: 55px;
	font-weight: bold;
}
.numpad {
	width: 100%;
	float: left;
	margin: 5px 0 5px 0;
}
.padbutton, .lowerbutton {
	width: 32%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 47px;
	font-size: 55px;
	font-weight: bold;
	cursor: pointer;
}
.padbutton:hover, .lowerbutton:hover {
	/*background-color: #DBDBDB;*/
	box-shadow:         inset 0px 1px 2px 2px #ccc;
}
.daypad {
	width:100%;
}
.disable, .disable:hover {
	color: #F0F0F0;
	cursor: default;
	box-shadow:         inset 0 0 0 0 #FFF;
}

/* ---------------------------------- Button Interface Styles  ---------------------------------- */
.controlpannel {
	/*border: thin solid #23b7ff;*/
}
.link {
	cursor: pointer;
}

.colorvaluetitle {
	width: 200px;
	margin: 5px 0 5px 0;
}
.color {
	border-radius: 8px;
	font-size: 0;
	width: 100%;
	height: 10px;
	border: thin solid #9b9da7;
	cursor: pointer;
}

/* ---------------------------------- Lightbox Styles  ---------------------------------- */
#lightbox {
	background:#333;
	height:100%;
	width:100%;
	z-index:1000;
	position:absolute;
	float:left;
	opacity: 0.5;
}
#lightboxcore {
	background:#FFF;
	z-index:1001;
	border:thick solid #009;
	padding:10px;
	position:absolute;
	
	border-radius: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  /* iPhone, Android rules here */
  body {
  	background-color:#081224;
  	color: #357dff;
  }

  .btn-group>.btn, .btn {
  	font-size: 28px;
  	padding: 10px;
  }

  [class^="icon-"], [class*=" icon-"] {
  	vertical-align: middle;
  }

  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {

  	float: left;
  	display: block;
  	margin: 10px 10px 0 0;
  	width: auto;
  }

  .alarmtime {
  	font-size: 40px;
  	color: #00B7FF;
  	line-height: 40px;
  	padding: 0 100px 0 0;
  }

  .deletebutton {
  	float: right;
  	height: 20px;
  	width: 200px;
  	min-width: 100px;
  	border-radius: 5px;
  	border: thin solid #4872ff;
  }

  .alarmlabels {
  	display: none;
  }

  .nav-tabs>li>a {
  	font-size: 20px;
  }

  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  	background-color:#081224;
  	color: #00B7FF;
  }

.alarminput {
	width: 420px;
	text-align: center;
}
.padbutton, .lowerbutton {
	width: 32%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 47px;
	font-size: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: thin solid #000000;
}
	#lightboxcore {
		max-width: 420px;
	}
}









